* body{
    width:  100vh;
    height:  100vh;


}


#heading{
    color: red;
}

.change-my-color1{
    background-color: red;
}

.change-my-color2 {
    background-color: green;
}

.hidden{
    display: none;
}


.parent {
    width: 400px;
    height: 400px;
    background-color: black;
}

.child{
    width:200px ;
    height:200px;
    background-color: red;

}

.inner{

    width: 100px;
    height: 100px;
    background-color: aqua;
}